@media screen and (max-width: 850px) {
    h1 {
        font-size: 3em;
    }
}

#main-header:after {
    background-image: url(header.jpg);
}

.cta-container {
    max-width: none;
}

.ev3-tracker {
    display: block;
    width: 100%;
    margin: 20px;
}
